<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Characters</title>
  </head>
  <body>
    <ul>
      {{ #seriesCodes }}
      <li><a href="/{{ url }}">{{ fullTitle }}</a></li>
      {{ /seriesCodes }}
    </ul>
  </body>
</html>
